use master
if exists (SELECT *
			FROM sys.databases
			WHERE name = 'CoffeeShop')
	DROP DATABASE CoffeeShop
go
Create database CoffeeShop
go
use CoffeeShop
go

/* _________________________________________________*/


CREATE TABLE NHANVIEN
(
	ID INT NOT NULL IDENTITY(1,1) PRIMARY KEY,
	Ten NVARCHAR(50),
	SDT NVARCHAR(20)
)

CREATE TABLE BAN
(
	ID int NOT NULL IDENTITY(1,1) PRIMARY KEY,
	TenBan NVARCHAR(50)
)

CREATE TABLE NHOMHANG
(
	ID INT NOT NULL IDENTITY(1,1) PRIMARY KEY,
	TenNhom NVARCHAR(50)
)

CREATE TABLE HANGHOA
(
	ID INT NOT NULL IDENTITY(1,1) PRIMARY KEY,
	IDNhom INT,
	Ten NVARCHAR(50),
	DVTinh NVARCHAR(20),
	GiaVon FLOAT,
	GiaBuon FLOAT,
	GiaLe FLOAT,
	ChietKhauXuat FLOAT,
	TonKho INT
)

CREATE TABLE HOADON
(
	ID INT NOT NULL IDENTITY PRIMARY KEY,
	NgayLap DATETIME,
	NguoiLap INT,
	TongTien FLOAT
)

CREATE TABLE CTHOADON
(
	ID INT NOT NULL,
	MaHang INT NOT NULL,
	SoLuong INT,
	DonGia FLOAT,
		
	CONSTRAINT pk_CTHOADON PRIMARY KEY (ID,MaHang)
)

CREATE TABLE KHACHHANG
(
	ID INT NOT NULL IDENTITY(1,1) PRIMARY KEY,
	Ten NVARCHAR(50),
	DiaChi NVARCHAR(50),
	SDT NVARCHAR(20),
	LoaiKH int,
	GiaBan NVARCHAR(20)
)

CREATE TABLE TAIKHOAN -- 43 Quyen
(
	ID INT NOT NULL IDENTITY(1,1) PRIMARY KEY,
	HoTen NVARCHAR(50),
	TenDN VARCHAR(50) UNIQUE,
	Pass VARCHAR(50),
	IsAdmin BIT NOT NULL  DEFAULT 0,
	SLDL BIT NOT NULL  DEFAULT 0,
	NH_XEM BIT NOT NULL  DEFAULT 0,
	NH_THEM BIT NOT NULL  DEFAULT 0,
	NH_SUA BIT NOT NULL  DEFAULT 0,
	NH_XOA BIT NOT NULL  DEFAULT 0,
	HH_XEM BIT NOT NULL  DEFAULT 0,
	HH_THEM BIT NOT NULL  DEFAULT 0,
	HH_SUA BIT NOT NULL  DEFAULT 0,
	HH_XOA BIT NOT NULL  DEFAULT 0,
	KH_XEM BIT NOT NULL  DEFAULT 0,
	KH_THEM BIT NOT NULL  DEFAULT 0,
	KH_SUA BIT NOT NULL  DEFAULT 0,
	KH_XOA BIT NOT NULL  DEFAULT 0,
	NCC_XEM BIT NOT NULL  DEFAULT 0,
	NCC_THEM BIT NOT NULL  DEFAULT 0,
	NCC_SUA BIT NOT NULL  DEFAULT 0,
	NCC_XOA BIT NOT NULL  DEFAULT 0,
	HDN_XEM BIT NOT NULL  DEFAULT 0,
	HDN_THEM BIT NOT NULL  DEFAULT 0,
	HDN_SUA BIT NOT NULL  DEFAULT 0,
	HDN_XOA BIT NOT NULL  DEFAULT 0,
	HDX_XEM BIT NOT NULL  DEFAULT 0,
	HDX_THEM BIT NOT NULL  DEFAULT 0,
	HDX_SUA BIT NOT NULL  DEFAULT 0,
	HDX_XOA BIT NOT NULL  DEFAULT 0,
	PT_XEM BIT NOT NULL  DEFAULT 0,
	PT_THEM BIT NOT NULL  DEFAULT 0,
	PT_SUA BIT NOT NULL  DEFAULT 0,
	PT_XOA BIT NOT NULL  DEFAULT 0,
	PC_XEM BIT NOT NULL  DEFAULT 0,
	PC_THEM BIT NOT NULL  DEFAULT 0,
	PC_SUA BIT NOT NULL  DEFAULT 0,
	PC_XOA BIT NOT NULL  DEFAULT 0,
	LAP_ORDER BIT NOT NULL  DEFAULT 0,
	IN_MA BIT NOT NULL  DEFAULT 0,
	BCNHAP BIT NOT NULL  DEFAULT 0,
	BCXUAT BIT NOT NULL  DEFAULT 0,
	BCTHU BIT NOT NULL  DEFAULT 0,
	BCCHI BIT NOT NULL  DEFAULT 0,
	BCCNKH BIT NOT NULL  DEFAULT 0,
	BCCNNCC BIT NOT NULL  DEFAULT 0,
	BCLAIKH BIT NOT NULL  DEFAULT 0
)





/*______________________________________________________________________*/

ALTER TABLE HANGHOA ADD CONSTRAINT FK_HANGHOA_NHOMHANG FOREIGN KEY (IDNhom) REFERENCES NHOMHANG(ID)
ALTER TABLE CTHOADON ADD CONSTRAINT FK_CTHD_HOADON FOREIGN KEY (ID) REFERENCES HOADON(ID)



/*______________________________________________________________________*/

INSERT INTO NHANVIEN VALUES (N'Huynh Nhat Nguyen','01659652607')
INSERT INTO NHANVIEN VALUES (N'Huynh Ba Nhuan','00001')
INSERT INTO NHANVIEN VALUES (N'Huynh Ba Dao','00002')

INSERT INTO BAN VALUES (N'Bàn 01')
INSERT INTO BAN VALUES (N'Bàn Vip 01')
INSERT INTO BAN VALUES (N'Bàn 02')

INSERT INTO NHOMHANG VALUES (N'Cà phê')
INSERT INTO NHOMHANG VALUES (N'Trà')
INSERT INTO NHOMHANG VALUES (N'Nước Giải Khát')

INSERT INTO HANGHOA VALUES (1,N'Cà phê đen đá',N'Cốc',10000,15000,20000,10,100)
INSERT INTO HANGHOA VALUES (1,N'Cà phê đen nóng',N'Cốc',10000,15000,20000,10,100)
INSERT INTO HANGHOA VALUES (1,N'Cà phê sữa đá',N'Cốc',10000,15000,20000,10,100)

INSERT INTO TAIKHOAN(HoTen,TenDN,Pass) VALUES (N'Huỳnh Nhật Nguyên','Admin','5555')
INSERT INTO TAIKHOAN(HoTen,TenDN,Pass) VALUES (N'Huỳnh Nhật Nguyên','NV','5555')